
:root {


    --main: #0f5858;
    /* #024e55; */

     /* #3c6769; */
     /* #3C6955; */
    --first: #abba82;
    --second: #a7b5b7;
    --third: #037c87;
    --forth: #102020;


}


h1 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 38px;
  color: darkslategrey;
  padding-top: 40px;
}


.h3{ 
  font-size: 2.9rem;
  margin:0px;
}

.date-picker{
  width: 40%;
  margin: auto;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 1.0;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

img{
  padding: 10px;
}

.button-width{
width: 120px;
display: table !important;
}

#y-axis .tick line{
  visibility:hidden;
}


.map-germany {
  display: flex;
  align-items: center;
  justify-content: center;


}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle; 
  overflow: hidden; 
}
.svg-content-responsive {
  display: inline-block;
  top: 0;
  left: 0;
}


.hidden {
  display: none;
}

#chartPlaceholderContainer{
  height: 27vh;
}

#titleContainer{
  background-color: var(--main);
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;

}


#btnContainer{
  display: flex;
  align-items: center;
  justify-content: center;


}
.btn-group{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.btn-group>.btn-inactive {
  background-color: #e5f2f2;

  height: 3.8vh;
  margin-top: 3px;
  color: var(--main);
  text-align: center;
}

.btn-group>.btn {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  white-space: normal;
  line-height: 3vh;
  width: 12.9vh;
  padding: 0

}

.btn-group>.btn-inactive:hover {
  background-color: #728F9D;
}
.btn-group>.btn:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#selectedDate{
  background-color:var(--main);;
  color: white
}

#treemapOption{
  background-color:var(--main);;
}

#visualisationContainer{
  min-height: 100vh;
  background-color: #e5f2f2;
}
#circleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
#treemapContainer{
  min-height: 100vh;
  padding:7vh;

}
#treemapwrapper{
  display: flex;
  align-items: center;
  justify-content: center;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#treemapwrapper2{
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#treemap2{
  display: flex;
  align-items: center;
  justify-content: center;
}

#circularbarplot{
  display: flex!important;
  align-items: center;
  justify-content: center;
}

#iconContainer{
  padding-top: 3.7vh; 
  height:6.5vh; 
  margin-bottom:0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons{
  height:5vh; 
  margin-left:auto;
  margin-right:auto;

}
#wordCloudContainer{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:50px;
}

.selectedTransport{
  cursor: pointer;
  filter: grayscale(0%); 
  filter: brightness(1.15); 
}
.unselectedTransport{
  filter: grayscale(70%); 

}

#driving{
  height: 27px;
  background-image: url('../src/img/Auto_icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3.5vh;;

}
#transit{

  height: 30px;
  background-image: url('../src/img/Transit_icon.png');
  background-repeat: no-repeat;
  background-size: contain;

}
#walking{
  height: 30px;
  background-image: url("../src/img/Walking_icon.png");
  background-repeat: no-repeat;
  background-size: contain;

}

.transport{
  margin: 2vh;
}

#lineChartContainer{
  padding-top: 70px;

  height: 30vh;
  display: flex;
  align-items:center;
  justify-content: center;
}


#BevölkerungsdichteContainer{
  margin-top: 20px;;
  display: flex;
  align-items:center;
  justify-content: center;
  vertical-align: middle;

}
#BevölkerungsdichteContainer>div{
  /* margin-left: auto;
  margin-right: auto;  */
  font-weight: bold;
  text-align: center;
  height: 12vh;
  display: flex;
  align-items:center;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
  padding-bottom: auto;
  
} 

#BevölkerungsdichteContainer>div>div{
  margin: auto;
  padding-bottom: auto;
  
} 
.blPar{
  /* vertical-align: middle; */
  padding: 1vh;
  margin:0;
  padding-top: auto;
  padding-bottom: auto;

}

.modal {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 40%;
  width: 35%;
  will-change: top, opacity;
}

.modal-trigger{
  /* position: absolute;
  top: 93% */
}

.modal-action .modal-close .btn  {
 background-color: var(--main);
}

#toast-container {
  right: auto !important;
  bottom: 50%;
  left:4%;
  top: auto !important;
}

.material-icons{
  color: var(--main);;
}

.tabContainer .tabs{
  height:5vh;
  width: 80%;
  font-size: small!important;


}
.tabContainer .tabs .tab{
  height:5vh!important;
  line-height: 5vh;

}

.tabs .tab a{
  color:var(--main)!important;
  background-color: white;
  font-size: 1.5vh!important;
  
  padding: 0!important;
  margin:0!important;
  height:5vh!important;

}
.tabs .tab a:hover {
  background-color:#cfd9dd!important;
  color:white!important;
  height:5vh!important;

}
.tabs .tab a.active {
  background-color:var(--main)!important;
  color:white!important;
  height:5vh!important;

} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:white!important;
  height: 1vh;

} /*Color of underline*/


